$black: #000000;
$blackOut: #222222;
$white: #FFFFFF;
$whiteout: #FBFBFB;
$fieryFlamingo: #F16D7F;
$welded-Iron: #6F6E6E;
$venusPink: #F1E4E6;
$coldGrey: #9F9F9F;
$itemBack: #F8F8F8;
$maxWidth: 2560px;
$minWidth: 320px;
$siteWidth: 1140px;